---
interface Props {
  translations: {
    title: string
  }
  common: {
    yearsExperience: string
  }
}

const { translations, common } = Astro.props

const technologies = [
  { name: 'Symfony', years: 7 },
  { name: 'React', years: 5 },
  { name: 'Laravel', years: 3 },
]
---

<section class="section-padding border-t border-gray-200 dark:border-gray-800">
  <h2 class="section-title">{translations.title}</h2>
  <div class="grid md:grid-cols-3 gap-8">
    {technologies.map((tech) => (
      <div class="p-6 rounded-lg border border-gray-200 dark:border-gray-700 flex flex-col bg-gray-50 dark:bg-gray-800">
        <div class="flex items-center gap-6">
          <div class="w-12 h-12 flex items-center justify-center">
            {tech.name === 'Symfony' && (
              <svg class="w-12 h-12 text-gray-700 dark:text-gray-300" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M12 0C5.373 0 0 5.373 0 12s5.373 12 12 12 12-5.373 12-12S18.627 0 12 0zm2.784 4.073c.817 0 1.593.576 1.593 1.468 0 .798-.566 1.262-.916 1.703-.262.343-.576.72-.576.72s.156.35.337.671c.246.427.537.869.856.869.264 0 .483-.133.483-.133l.224.68s-.39.267-.866.267c-.742 0-1.152-.594-1.458-1.1-.214-.354-.4-.744-.4-.744s-.62.79-1.202 1.124c-.338.195-.71.314-1.102.314-1.01 0-1.598-.669-1.598-1.474 0-.996.81-1.594 1.595-2.138.541-.374 1.075-.64 1.075-.64s-.139-.349-.227-.65c-.105-.36-.133-.72-.133-.97 0-.778.514-1.49 1.315-1.49zm-.128.606c-.303 0-.53.32-.53.697 0 .2.031.417.1.65.074.256.187.51.187.51s.472-.272.827-.577c.33-.284.504-.53.504-.823 0-.258-.2-.457-.497-.457h-.591zm-1.186 2.744s-.474.267-.92.564c-.687.457-1.32.96-1.32 1.584 0 .437.302.758.8.758.425 0 .876-.234 1.21-.48.494-.364.867-.848.867-.848s-.234-.532-.413-.91c-.14-.293-.224-.668-.224-.668zm-7.65.906c.538 0 1.076.085 1.555.328.618.323.945.864.945 1.553 0 .86-.666 1.556-1.372 2.063-.47.337-1.014.665-1.014.665s.344.576.62.862c.293.303.619.487.98.487.48 0 .756-.332.756-.332l.394.584s-.484.48-1.275.48c-.635 0-1.11-.307-1.485-.713-.36-.39-.637-.869-.86-1.285-.097-.181-.258-.51-.258-.51l-.045.025c-.399.214-.883.363-1.363.363C1.765 12.605.9 11.81.9 10.694c0-.876.6-1.626 1.408-2.025.668-.33 1.476-.472 2.316-.534.34-.025.683-.028.683-.028s-.011-.393-.092-.635c-.115-.348-.382-.565-.762-.565-.446 0-.994.215-1.48.473-.23.122-.49.34-.49.34l-.354-.622s.839-.724 2.292-.874c.12-.012.237-.02.35-.02zm.014.66c-.238.018-.48.047-.713.087-.715.12-1.448.358-1.87.714-.354.298-.529.616-.529 1.02 0 .57.43.983 1.06.983.4 0 .8-.135 1.116-.303.517-.274.865-.638.865-.638s-.41-.793-.573-1.15c-.089-.194-.193-.454-.193-.454l-.163.085v-.344zm9.032.404c-.02 0-.034.007-.056.01-.447.085-.96.563-.96 1.267 0 .532.336 1.053.336 1.053s.522-.34.87-.637c.42-.361.715-.716.715-1.138 0-.343-.27-.551-.6-.555h-.305zm2.3 2.33c-.606 0-1.11.277-1.465.686-.364.42-.546.96-.546 1.505 0 .773.461 1.416 1.38 1.416.46 0 .856-.138 1.194-.39.465-.345.712-.853.712-1.481 0-.46-.15-.92-.442-1.243-.275-.305-.53-.493-.833-.493zm-.022.52c.191 0 .367.124.51.33.163.234.255.558.255.923 0 .414-.115.84-.345 1.12-.195.237-.43.367-.68.367-.236 0-.404-.125-.524-.33-.135-.23-.207-.547-.207-.906 0-.44.117-.855.355-1.14.18-.216.397-.364.636-.364z"/>
              </svg>
            )}
            {tech.name === 'React' && (
              <svg class="w-12 h-12 text-gray-700 dark:text-gray-300" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M14.23 12.004a2.236 2.236 0 0 1-2.235 2.236 2.236 2.236 0 0 1-2.236-2.236 2.236 2.236 0 0 1 2.235-2.236 2.236 2.236 0 0 1 2.236 2.236zm2.648-10.69c-1.346 0-3.107.96-4.888 2.622-1.78-1.653-3.542-2.602-4.887-2.602-.31 0-.592.068-.856.196C4.805.854 4.248 2.524 4.634 5.076c-2.16.67-3.634 1.732-3.634 2.928 0 1.196 1.474 2.258 3.634 2.928-.386 2.552.171 4.222 1.313 4.88.264.152.54.218.856.218 1.345 0 3.107-.96 4.888-2.624 1.78 1.654 3.542 2.604 4.887 2.604.31 0 .592-.066.856-.196 1.142-.658 1.7-2.328 1.313-4.88 2.16-.67 3.634-1.732 3.634-2.928 0-1.196-1.474-2.258-3.634-2.928.386-2.552-.171-4.222-1.313-4.88a1.725 1.725 0 0 0-.856-.196zM8.684 17.611c.202.14.413.266.634.38-.22.115-.434.238-.634.38-.71-.1-1.27-.388-1.27-.748 0-.362.56-.65 1.27-.75zm6.632 0c.71.1 1.27.388 1.27.75 0 .36-.56.648-1.27.748-.2-.142-.414-.265-.634-.38.22-.114.434-.24.634-.38z"/>
              </svg>
            )}
            {tech.name === 'Laravel' && (
              <svg class="w-12 h-12 text-gray-700 dark:text-gray-300" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M23.642 5.43a.364.364 0 01.014.1v5.149c0 .135-.073.26-.189.326l-4.323 2.49v4.934c0 .135-.073.26-.189.326l-9.03 5.206a.32.32 0 01-.065.028.32.32 0 01-.065.028c-.022.007-.045.012-.068.013h-.013a.357.357 0 01-.15-.034L.534 18.975a.378.378 0 01-.189-.326V3.363c0-.035.005-.069.014-.1l.002-.006a.36.36 0 01.023-.063l.006-.012a.376.376 0 01.035-.054l.008-.01a.388.388 0 01.046-.046l.012-.008a.379.379 0 01.054-.035l9.03-5.206a.378.378 0 01.378 0l9.03 5.206a.352.352 0 01.054.035l.012.01a.375.375 0 01.046.044l.008.012a.374.374 0 01.035.054l.006.012a.33.33 0 01.023.063l.002.006zM22.084 10.49V6.004l-1.816 1.047-2.507 1.446v4.487l4.323-2.494zM17.57 20.88V16.4l-2.465 1.408-6.939 3.96v4.536l9.404-5.423zM1.126 3.83v14.82l8.65 4.99v-4.539L5.457 16.71l-.005-.003-.005-.002c-.022-.013-.04-.028-.059-.044l-.008-.007a.384.384 0 01-.043-.046l-.006-.01a.376.376 0 01-.032-.06l-.003-.008a.316.316 0 01-.018-.065v-.003a.31.31 0 01-.005-.069V6.484L3.461 5.037 1.126 3.83zm8.84-2.95L2.08 5.07l7.886 4.55 7.886-4.55-7.886-4.19zM5.66 15.897l3.898 2.24V9.626L7.743 8.18 5.66 7.086v8.81zm14.606-9.898l-4.514 2.603-4.514 2.603V16.2l7.213-4.117 1.815-1.048V5.999z"/>
              </svg>
            )}
          </div>
          <div>
            <h3 class="font-semibold text-gray-900 dark:text-white">
              {tech.name}
            </h3>
            <span class="text-sm text-gray-600 dark:text-gray-300">
              {tech.years} {common.yearsExperience}
            </span>
          </div>
        </div>
      </div>
    ))}
  </div>
</section>
